

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color:rgb(199, 168, 173);
  color: white;
}

img{
  
  width: 500px
}
.cuteDogs{
  align-content: center;
}
button{
  background-color: rgb(156, 121, 6);
}
